* {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

h1 {
    text-align: center;
    margin: 10px 0px;
}

#grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 960px;
    width: 960px;
    border: 1px dashed black;
    margin: auto;
}

.grid {
    display: inline-block;
}

.hover {
    background-color: rgba(136, 178, 255, 0.575);
    cursor: pointer;
    transition: all 0.5s ease;
}