* {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    font-family: Yellowtail, cursive;
    font-weight: lighter;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #b92828;
    margin: 10px 0 0 0;
}

#grid-container {
    text-align: center;
    display: grid;
    height: 500px;
    width: 500px;
    border: 10px solid #b92828;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0 0 15px #141414;
    cursor: crosshair;
}

.grid {
    display: inline-block;
}

.paint {
    background-color: #000000;
    transition: all 0.1s ease;
}

#button-container {
    text-align: center;
    margin: 0 0 10px 0;
}

button {
    background-color: #b92828;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 0 10px black;
    padding: 3px 10px 3px 3px;
    border-radius: 10px;
    margin: 0 50px;
}

button:hover {
    cursor: pointer;
}

p {
    font-size: 40px;
    margin: auto;
}