* {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    font-family: Yellowtail, cursive;
    font-weight: lighter;
}


h1 {
    text-align: center;
    font-size: 70px;
    color: #b92828;
    margin: 5px auto;
    text-decoration: underline overline;
    text-shadow: 0 0 10px rgb(223, 222, 222);
    width: 500px;
    border-radius: 10px;
    background-color: rgba(112, 194, 194, 0.541);
}

#grid-container {
    text-align: center;
    display: grid;
    height: 500px;
    width: 500px;
    border: 10px solid #b92828;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0 0 15px #141414;
    cursor: crosshair;
}

.grid {
    display: inline-block;
}

#button-container {
    text-align: center;
    margin: 0 auto 10px auto;
    width: auto;
}

button {
    background-color: #b92828;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 0 10px black;
    padding: 3px 10px 3px 3px;
    border-radius: 10px;
    margin: 0 20px;
}

button:hover {
    cursor: pointer;
}
